<div class="announcement-slider">
  <div class="announcement-track">

    {% for i in (1..2) %}
      {% for block in section.blocks %}
        <a href="{{ block.settings.link }}" class="announcement-item">
          {% if block.settings.icon %}
            <img
              src="{{ block.settings.icon | image_url: width: 50 }}"
              alt=""
              width="20"
              height="20">
          {% endif %}

          <span>{{ block.settings.text }}</span>
        </a>
      {% endfor %}
    {% endfor %}

  </div>
</div>

<style>
.announcement-slider{
  background:#000;
  overflow:hidden;
  padding:10px 0;
}

.announcement-track{
  display:flex;
  width:max-content;
  align-items:center;
  animation: scroll 20s linear infinite;
}
.announcement-slider:hover .announcement-track{
  animation-play-state: paused;
}
.announcement-item{
  display:flex;
  align-items:center;
  gap:8px;
  color:#fff;
  text-decoration:none;
  white-space:nowrap;
  padding:0 20px;
  font-size:14px;
  font-weight:600;
}

.announcement-item img{
  width:20px;
  height:20px;
  object-fit:contain;
}

@keyframes scroll{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-50%);
  }
}

/* optional: mobile tweaks */
@media(max-width:768px){
  .announcement-item{
    font-size:12px;
    padding:0 12px;
  }
}
.announcement-item span{
  position:relative;
  display:inline-block;
}

/* underline */
.announcement-item span::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-3px;
  width:0%;
  height:2px;
  background:#fff;
  transition:width 0.3s ease;
}

/* IMPORTANT: only trigger when hovering span area */
.announcement-item:hover span::after{
  width:100%;
}
</style>

{% schema %}
{
  "name": "Announcement Slider",
  "blocks": [
    {
      "type": "item",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Free Shipping"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Slider"
    }
  ]
}
{% endschema %}

