<style>


</style>

<div class="page-width">

<h1>{{ section.settings.headting_text}} </h1>
<p>{{ section.settings.paragraph_text }}</p>

    </div>


    {% schema %}
    {
      "name": "Class 1",
      "settings": [
        {"type": "text",
        "id": "headting_text",
      "label": "Heading"},

    {"type": "textarea",
    "id": "paragraph_text",
  "label": "Write prarag",
 "default": "Thissdfsd" }
      ],
      "blocks": [],
      "presets": [
        {
          "name": "Class 1"
        }
      ]
    }
    {% endschema %}
