<<<<<<< HEAD
<style>


</style>

<div class="page-width">

<h1>This is our first section </h1>

    </div>


    {% schema %}
    {"name": "Class 1",
    "settings": [],
    "blocks": [
    
    ],
    "presets": [
      {
        "name": "Class 1",
        "settings": {}
      }
    ]
    }
=======
<style>


</style>

<div class="page-width">

<h1>This is our first section </h1>

    </div>


    {% schema %}
    {"name": "Class 1",
    "settings": [],
    "blocks": [
    
    ],
    "presets": [
      {
        "name": "Class 1",
        "settings": {}
      }
    ]
    }
>>>>>>> d82a8609a7613d2737487c812c0563c3e9535124
    {% endschema %}