<div class="collection-slider-wrapper--gm" >
  {% for subcollection in section.settings.subcollections %}
    {% render 'gm-collection-slider',
      collection_url: subcollection.url,
      collection_image: subcollection.image| image_url,
      collection_name: subcollection.name,
      gradient_color: section.settings.gradient_color,
      collection_width: section.settings.collection_width,
      scrollbar_color: section.settings.scrollbar_color,
     margin_block: section.settings.margin_block
    %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "GM Subcollections",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "metaobject_list",
      "id": "subcollections",
      "label": "Select Subcollections",
      "metaobject_type": "subcollections",
      "limit": 50
    },
    {
      "type": "color_background",
      "id": "gradient_color",
      "label": "Gradient border color",
      "default": "linear-gradient(90deg, rgba(121,251,251,1) 0%, rgba(68,117,249,1) 48%, rgba(249,72,63,0.7595413165266106) 100%)"
    },
    {
      "type": "range",
      "id": "collection_width",
      "label": "Collection Width",
      "min": 100,
      "max": 500,
      "step": 50,
      "unit": "px",
      "info": "Whatever width you will add here will be divided by 1.5 on tablet and by 2 on mobile screens. For eg. 200px here means 200/1.5 on tablet and 200/2 on mobile",
      "default": 200
    },
    {
      "type": "color",
      "id": "scrollbar_color",
      "label": "Scrollbar color",
      "default": "#FF6347"
    },
    {
      "type": "range",
      "id": "margin_block",
      "label": "Top Bottom Space",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "info": "Margin Top and Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "GM Subcollections"
    }
  ]
}
{% endschema %}
